<template>
  <div>
    <q-btn
      v-if="!isLoginPage"
      :label="$t('Quit')"
      color="accent"
      icon-right="logout"
      @click="logout"
      outline
      class="full-width"
    />
  </div>
</template>

<script>

import { mapMutations } from 'vuex'

export default {
  name: 'user-logout',
  computed: {
    isLoginPage () {
      return this.$route.name === 'login'
    }
  },
  methods: {
    ...mapMutations('user', ['mutationsUser']),

    logout () {
      this.mutationsUser(null)
      localStorage.setItem('language', null)
      localStorage.setItem('jwt', null)
      this.$router.replace({ name: 'login' })
    }
  }
}
</script>

<style scoped>

</style>
