<template>
<q-page class="q-pa-md q-pb-xl">
  <route-back-button route-name="offers"/>
  <offer-detail-component class="q-mt-lg q-pb-xl"/>
</q-page>
</template>

<script>
import RouteBackButton from 'components/utils/route-back-button'
import OfferDetailComponent from 'components/offers/offer-detail'

export default {
  name: 'OfferDetail',
  components: {
    OfferDetailComponent,
    RouteBackButton
  },
  computed: {
    component () {
      return this.$route.query.status
    }
  }
}
</script>

<style scoped>

</style>
