<template>
<q-page class="q-pa-md">
  <base-page-title :title="$t('Offers')"/>
  <p>{{ $t('noTranslate') }}: <span class="text-bold " :class="noTranslatedCount ? 'text-negative' : 'text-positive'">{{ noTranslatedCount }}</span></p>
  <div class="q-mt-lg">
    <offers-table />
  </div>
</q-page>
</template>

<script>
import BasePageTitle from 'components/base-page-title'
import OffersTable from 'components/offers/offers-table'
import { mapState } from 'vuex'
export default {
  name: 'Offers',
  components: { OffersTable, BasePageTitle },
  computed: {
    ...mapState('offers', ['offers']),
    noTranslatedCount () {
      return this.offers.filter(item => !item.translationApproved).length
    },
    lang () {
      return localStorage.getItem('language')
    }
  },
  created () {
    console.log(this.offers)
  },
  preFetch ({ store }) {
    return store.dispatch('offers/loadOffers')
  }
}
</script>

<style scoped>

</style>
