<template>
<q-page class="q-pa-md">
  <base-page-title title="Countries"/>
</q-page>
</template>

<script>
import BasePageTitle from 'components/base-page-title'
export default {
  name: 'Countries',
  components: { BasePageTitle }
}
</script>

<style scoped>

</style>
