<template>
  <q-page class="q-pa-md">
    <links-grid />
  </q-page>
</template>

<script>
import LinksGrid from 'components/home/links-grid'
export default {
  name: 'PageIndex',
  components: { LinksGrid }
}
</script>
