<template>
<div>
  <q-btn
    :label="label"
    :color="color"
    no-caps
    class="full-width"
    @click="routeToDetail()"
    icon-right="las la-edit"
  />
</div>
</template>

<script>
export default {
  name: 'tours-table-localizations-item',
  props: {
    tour: {
      type: Object,
      default: () => {}
    }
  },
  computed: {
    language () {
      return localStorage.getItem('language')
    },
    translated () {
      return this.tour.translationApproved
    },
    original () {
      return this.language === this.tour.createdLanguage
    },
    label () {
      if (this.original) return this.$t('original')
      if (this.translated) return this.$t('translated')
      else return this.$t('notTranslated')
    },
    color () {
      return this.translated ? 'positive' : 'negative'
    }
  },
  methods: {
    routeToDetail () {
      this.$router.push({
        name: 'tour-detail',
        params: { id: this.tour.id }
      })
    }
  }
}
</script>
