<template>
  <div class="q-mt-xl">

    <p v-if="!isOriginal" class="">
      {{ $t('tourTitle') }} <base-copy-ti-clip :value="tour.name" />
    </p>
    <q-input
      v-model="tour.name"
      :label="$t('tourTitle')"
      outlined
    />
    <q-input
      type="textarea"
      v-model="tour.description"
      :label="$t('tourDescription')"
      outlined
      class="q-mt-md"
    />

    <p v-if="!isOriginal" class="q-mt-lg">
      {{ original.name }}:
      <base-copy-ti-clip :value="tour.description" />
    </p>
    <div class="text-right">
      <q-btn
        :color="tour.translationApproved ? 'positive' : 'negative'"
        no-caps
        class="letter-1 text-bold q-mt-md"
      >
        <q-checkbox
          v-model="tour.translationApproved"
          :label="
            tour.translationApproved
              ? $t('approvedTranslation')
              : $t('approveTranslation')
          "
          :color="tour.translationApproved ? 'positive' : 'negative'"
        />
      </q-btn>
    </div>

    <!--    Actions-->
    <div class="row q-mt-md justify-end edit-actions">
      <div class="col-12 col-md-6 row">
        <div class="col-6 q-pr-xs">
          <q-btn
            :label="$t('cancel')"
            color="negative"
            outline
            no-wrap
            class="q-px-lg q-py-sm text-bold full-width"
            icon="las la-times"
            @click="cancel"
          />
        </div>
        <div class="col-6 q-pl-xs">
          <q-btn
            :label="$t('save')"
            color="primary"
            class="q-px-lg q-py-sm q-ml-md text-bold full-width"
            icon="las la-save"
            unelevated
            no-wrap
            @click="tour.update()"
            :loading="loading"
          />
        </div>
      </div>
    </div>
    <div class="q-my-xl q-py-xl">
<!--      <base-translator />-->
    </div>
  </div>
</template>

<script>
import { mapActions, mapState } from 'vuex'
import contentEditorConfig from 'src/config/content-editor-config'
import BaseCopyTiClip from 'components/base-copy-ti-clip'
import Tour from 'src/classes/Tour'

export default {
  name: 'tour-detail',
  components: { BaseCopyTiClip },
  computed: {
    ...mapState('tours', { baseTour: 'tour' }),
    language () {
      return localStorage.getItem('language')
    },
    config () {
      return contentEditorConfig
    }
  },
  data () {
    return {
      loading: false,
      isOriginal: false,
      tour: {},
      original: {}
    }
  },
  methods: {
    ...mapActions('tours', ['loadTour', 'updateTour']),
    cancel () {
      this.tour = new Tour(this.baseTour)
    }
  },
  async created () {
    await this.loadTour()
    this.tour = new Tour(this.baseTour)
    if (this.language === this.tour.locale) {
      this.isOriginal = true
    } else {
      await this.tour.loadOriginalTour()
      this.original = this.tour.original
    }
  }
}
</script>

<style scoped></style>
