<template>
  <div class="tours-table">
    <div class="row">
      <div class="col-12 col-md-9">
        <q-input
          :label="$t('search')"
          v-model="searchText"
          outlined dense clearable
        />
      </div>
      <div class="col-12 col-md-3 text-right">
        <q-checkbox
          v-model="onlyNoTranslations"
          :label="$t('onlyNoTranslations')"
          left-label
        />
      </div>
    </div>

    <q-table
      :data="filteredTours"
      :columns="columns"
      row-key="name"
      separator="cell"
      class="q-mt-md"
      hide-no-data
      style="max-width: 100%"
    >
      <template v-slot:header="props">
        <q-tr
          :props="props"
          :class="$q.dark.isActive ? 'bg-grey-7' : 'bg-grey-4'"
        >
          <q-th
            v-for="col in props.cols"
            :key="col.name"
            :props="props"
          >
          <span class="text-subtitle2 text-uppercase text-bold">
            {{ col.label }}
          </span>
          </q-th>
        </q-tr>
      </template>
      <template v-slot:body="props">
        <q-tr :props="props">
          <q-td key="name" :props="props" style="width: 75%">
            <span
              class="text-bold inline-block"
              style="width: 40px"
            >
              {{ props.row.createdLanguage }}
            </span>
            {{ props.row.name  }}
          </q-td>
          <q-td key="locales" :props="props" style="width: 25%">
            <tours-table-localizations-item
              :tour="props.row"
            />
          </q-td>
        </q-tr>
      </template>
    </q-table>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import ToursTableLocalizationsItem from 'components/tours/tours-table-localizations-item'

export default {
  name: 'tours-table',
  components: { ToursTableLocalizationsItem },
  computed: {
    ...mapState('tours', ['tours']),
    language () {
      return localStorage.getItem('language')
    },
    filteredTours () {
      let tours = []

      if (this.onlyNoTranslations) {
        tours = this.tours.filter(item => !item.translationApproved)
      } else {
        tours = this.tours
      }

      if (this.searchText) {
        return tours.filter(item => item.name.toLowerCase().includes(this.searchText.toLowerCase()))
      }

      return tours
    },
    lang () {
      return localStorage.getItem('language')
    }
  },
  data () {
    return {
      onlyNoTranslations: false,
      searchText: '',
      columns: [
        {
          name: 'name',
          required: true,
          label: this.$t('TableTourTitle'),
          align: 'left'
        },
        {
          name: 'locales',
          align: 'center',
          label: this.$t('TableLocalesTitle'),
          field: 'calories'
        }
      ]
    }
  }
}
</script>
