<template>
  <q-page class="q-pa-md">
    <base-page-title :title="$t('notifications')"/>
    <notifications-table class="q-mt-lg"/>
  </q-page>
</template>

<script>
import BasePageTitle from 'components/base-page-title'
import NotificationsTable from 'components/notifications/notifications-table'
export default {
  name: 'Notifications',
  components: { NotificationsTable, BasePageTitle }
}
</script>

<style scoped>

</style>
