<template>
<q-page class="q-pa-md">
  <route-back-button route-name="notifications"/>
<!--  Form-->
  <div class="q-mt-lg">
    <q-input
      v-model="formData.title"
      outlined
    />
    <q-input
      v-model="formData.body"
      outlined
      type="textarea"
      class="q-mt-md"
    />
    <div class="text-right">
      <q-btn
        :color="formData.translationApproved ? 'positive' : 'negative'"
        no-caps
        class="letter-1 text-bold q-mt-md"
      >
        <q-checkbox
          v-model="formData.translationApproved"
          :label="
            formData.translationApproved
              ? $t('approvedTranslation')
              : $t('approveTranslation')
          "
          :color="formData.translationApproved ? 'positive' : 'negative'"
        />
      </q-btn>
    </div>
  </div>
  <!--    Actions-->
  <div class="row q-mt-md justify-end edit-actions">
    <div class="col-12 col-md-6 row">
      <div class="col-6 q-pr-xs">
        <q-btn
          :label="$t('cancel')"
          color="negative"
          outline no-wrap
          class="q-px-lg q-py-sm text-bold full-width"
          icon="las la-times"
          @click="setDefaultValues"
        />
      </div>
      <div class="col-6 q-pl-xs">
        <q-btn
          :label="$t('save')"
          color="primary"
          class="q-px-lg q-py-sm q-ml-md text-bold full-width"
          icon="las la-save"
          unelevated no-wrap
          @click="update"
          :loading="loading"
        />
      </div>
    </div>
  </div>
</q-page>
</template>

<script>
import RouteBackButton from 'components/utils/route-back-button'
import { mapActions, mapState } from 'vuex'
export default {
  name: 'NotificationDetail',
  components: { RouteBackButton },
  computed: {
    ...mapState('notifications', ['notification'])
  },
  methods: {
    ...mapActions('notifications', ['updateNotification']),
    setDefaultValues () {
      this.formData.title = this.notification?.title
      this.formData.body = this.notification?.body
      this.formData.translationApproved = this.notification?.translationApproved
    },
    async update () {
      const data = { ...this.notification, ...this.formData }
      this.loading = true
      await this.updateNotification(data)
      this.loading = false
    }
  },
  data () {
    return {
      loading: false,
      formData: {
        title: '',
        body: '',
        translationApproved: false
      }
    }
  },
  created () {
    this.setDefaultValues()
  },
  preFetch ({ store, currentRoute }) {
    return store.dispatch('notifications/loadNotification', currentRoute.params.id)
  }
}
</script>

<style scoped>

</style>
