<template>
<div>
  <q-btn
    :label="label"
    :color="color"
    no-caps
    class="full-width"
    @click="routeToDetail()"
    icon-right="las la-edit"
  />
</div>
</template>

<script>
export default {
  name: 'notifications-table-localizations-item',
  props: {
    notification: {
      type: Object,
      default: () => {}
    }
  },
  computed: {
    label () {
      if (this.hasTranslate) return this.$t('hasTranslate')
      else return this.$t('notTranslated')
    },
    color () {
      if (this.hasTranslate) return 'positive'
      else return 'negative'
    },
    hasTranslate () {
      return this.notification.translationApproved
    },
    lang () {
      return localStorage.getItem('language')
    }
  },
  methods: {
    routeToDetail () {
      const id = this.notification.id

      this.$router.push({
        name: 'notification-detail',
        params: { id }
      })
    }
  }
}
</script>

<style scoped>

</style>
