<template>
  <div class="tours-table">
    <div class="row">
      <div class="col-12 col-md-9">
        <q-input
          :label="$t('search')"
          v-model="searchText"
          outlined dense clearable
        />
      </div>
      <div class="col-12 col-md-3 text-right">
        <q-checkbox
          v-model="onlyNoTranslations"
          :label="$t('onlyNoTranslations')"
          left-label
        />
      </div>
    </div>

    <q-table
      :data="filteredNotifications"
      :columns="columns"
      row-key="name"
      separator="cell"
      class="q-mt-md"
      hide-no-data
      style="max-width: 100%"
    >
      <template v-slot:header="props">
        <q-tr
          :props="props"
          :class="$q.dark.isActive ? 'bg-grey-7' : 'bg-grey-4'"
        >
          <q-th
            v-for="col in props.cols"
            :key="col.name"
            :props="props"
          >
          <span class="text-subtitle2 text-uppercase text-bold">
            {{ col.label }}
          </span>
          </q-th>
        </q-tr>
      </template>
      <template v-slot:body="props">
        <q-tr :props="props">
          <q-td key="name" :props="props" style="width: 75%">
            {{ props.row.title }}
          </q-td>
          <q-td key="locales" :props="props" style="width: 25%">
            <notifications-table-localizations-item :notification="props.row"/>
          </q-td>
        </q-tr>
      </template>
    </q-table>
  </div>
</template>

<script>
import { mapActions, mapState } from 'vuex'
import NotificationsTableLocalizationsItem from 'components/notifications/notifications-table-localizations-item'

export default {
  name: 'notifications-table',
  components: { NotificationsTableLocalizationsItem },
  computed: {
    ...mapState('notifications', ['notifications']),
    language () {
      return localStorage.getItem('language')
    },
    filteredNotifications () {
      let notifications = []

      if (this.onlyNoTranslations) {
        notifications = this.notifications.filter(item => !item.translationApproved)
      } else {
        notifications = this.notifications
      }

      if (this.searchText) {
        return notifications.filter(item => item.title.toLowerCase().includes(this.searchText.toLowerCase()))
      }

      return notifications
    },
    lang () {
      return localStorage.getItem('language')
    }
  },
  data () {
    return {
      onlyNoTranslations: false,
      searchText: '',
      columns: [
        {
          name: 'name',
          required: true,
          label: this.$t('TableOfferTitle'),
          align: 'left'
        },
        {
          name: 'locales',
          align: 'center',
          label: this.$t('TableLocalesTitle'),
          field: 'calories'
        }
      ]
    }
  },
  methods: {
    ...mapActions('notifications', ['loadNotifications', 'loadMessages'])
  },
  created () {
    this.loadNotifications()
    this.loadMessages()
  }
}
</script>

<style scoped>

</style>
