
*
  padding: 0
  margin: 0
  box-sizing: border-box

.body--dark
  background: #313131 !important

p
  margin-bottom: 0 !important

a
  text-decoration: none

.letter-1
  letter-spacing: .5px

.edit-actions
  position: fixed
  left: 0
  right: 0
  background: $dark
  opacity: 0
  padding: 10px
  box-shadow: 0 0 10px 0 rgba(0,0,0,.5)
  animation-name: bottomActions
  animation-delay: 1s
  animation-duration: 1s
  animation-fill-mode: forwards
  animation-timing-function: ease-in-out

@keyframes bottomActions
  0%
    bottom: -150px
    opacity: 0

  100%
    bottom: 0
    opacity: 1
