<template>
  <div>
    <q-list
      v-if="user"
      separator
      class="text-bold text-uppercase"
    >
      <q-item
        v-for="link in routes"
        :key="link.title"
        :to="{ name: link.routeName }"
        exact-active-class="bg-primary text-white"
      >
        <q-item-section avatar>
          <q-icon :name="link.icon"/>
        </q-item-section>
        <q-item-section>
          {{ link.title }}
        </q-item-section>
      </q-item>
    </q-list>

    <q-separator class="q-mt-lg"/>
    <div class="q-pa-md text-right">
      <div>{{ userData }}</div>
        <user-logout class="q-mt-md"/>
    </div>
  </div>

</template>

<script>
import { mapState } from 'vuex'
import routesData from 'src/mixins/routes-data'
import UserLogout from 'components/user/user-logout'

export default {
  name: 'left-drawer-content',
  components: { UserLogout },
  mixins: [routesData],
  computed: {
    ...mapState('user', ['user']),
    routes () {
      return [
        { routeName: 'home', title: this.$t('Home'), icon: 'las la-home' },
        ...this.links
      ]
    },
    userData () {
      return this.user?.email || null
    }
  }
}
</script>

<style scoped>

</style>
