<template>
<q-page class="q-pa-md">
  <route-back-button route-name="tours"/>
  <tour-detail-component />
</q-page>
</template>

<script>

import RouteBackButton from 'components/utils/route-back-button'
import tourDetailComponent from 'src/components/tours/tour-detail'
export default {
  name: 'TourDetail',
  components: {
    RouteBackButton,
    tourDetailComponent
  }
}
</script>

<style scoped>

</style>
