<template>
<q-page class="q-pa-md">
  <base-page-title :title="$t('Tours')"/>
  <p>{{ $t('noTranslate') }}: <span class="text-bold " :class="noTranslatedCount ? 'text-negative' : 'text-positive'">{{ noTranslatedCount }}</span></p>
  <div class="q-mt-lg">
    <tours-table />
  </div>
</q-page>
</template>

<script>
import BasePageTitle from 'components/base-page-title'
import ToursTable from 'components/tours/tours-table'
import { mapState } from 'vuex'
export default {
  name: 'Tours',
  components: { ToursTable, BasePageTitle },
  computed: {
    ...mapState('tours', ['tours']),
    noTranslatedCount () {
      return this.tours.filter(item => !item.translationApproved).length
    },
    lang () {
      return localStorage.getItem('language')
    }
  },
  preFetch ({ store }) {
    return store.dispatch('tours/loadTours')
  }
}
</script>

<style scoped>

</style>
