<template>
  <div id="q-app">
    <router-view />
  </div>
</template>
<script>

import { mapActions, mapState } from 'vuex'

export default {
  name: 'App',
  computed: {
    ...mapState('user', ['user']),
    direction () {
      if (localStorage.getItem('language') === 'ar-AE') return 'rtl'
      else return 'ltr'
    }
  },
  beforeCreate () {
    // this.$q.dark.set(true)
  },
  methods: {
    ...mapActions('user', ['getUser'])
  },
  async created () {
    const jwt = localStorage.getItem('jwt') || null
    if (jwt) {
      await this.getUser(jwt)
    }

    if (!this.user) {
      await this.$router.replace({
        name: 'login'
      })
    } else {
      this.$i18n.locale = localStorage.getItem('language')
    }
  },
  watch: {
    '$route' () {
      setTimeout(() => {
        if (!this.user) {
          this.$router.push({
            name: 'login'
          })
        }
      }, 2000)
    }
  }
}
</script>
