<template>
  <q-layout view="hHh lpR fFf">

    <q-header elevated class="bg-dark text-white">
      <q-toolbar>
        <q-btn dense flat round icon="menu" @click="left = !left" />

        <router-link to="/">
          <q-toolbar-title class="text-bold text-white q-pl-md">
            VIPTOURIS<span class="text-primary">Translator</span>
          </q-toolbar-title>
        </router-link>

        <q-space />
        <theme-switcher />

      </q-toolbar>
    </q-header>

    <q-drawer show-if-above v-model="left" side="left" bordered >
      <!-- drawer content -->
      <left-drawer-content />

      <bag-report />
    </q-drawer>

    <q-page-container>
      <router-view />
    </q-page-container>

  </q-layout>
</template>

<script>
import LeftDrawerContent from 'components/left-drawer/left-drawer-content'
import BagReport from 'components/utils/bag-report'
import user from 'src/mixins/user'
import ThemeSwitcher from 'components/utils/theme-switcher'
export default {
  components: { ThemeSwitcher, BagReport, LeftDrawerContent },
  mixins: [user],
  data () {
    return {
      left: false
    }
  },
  computed: {
    desktop () {
      return this.$q.platform.is.desktop
    }
  }
}
</script>
