<template>
<div class="q-mt-xl q-pa-md">
<!--  <q-btn-->
<!--    label="Bug report"-->
<!--    icon="las la-bug"-->
<!--    class="full-width"-->
<!--    size="sm"-->
<!--    color="grey-9"-->
<!--    unelevated-->
<!--    @click="dialog = !dialog"-->
<!--  />-->

  <q-dialog v-model="dialog"
  >
  <q-card style="width: 500px; max-width: 100%">
    <q-toolbar>
      <q-toolbar-title>Bug report</q-toolbar-title>
      <q-btn icon="close" flat dense v-close-popup/>
    </q-toolbar>
    <q-separator color="grey-7" />
    <q-card-section class="q-pt-lg">
      <q-input
      v-model="report"
      type="textarea"
      label="Please, report a malfunction"
      />
    </q-card-section>
    <q-card-actions class="q-pa-md q-py-sm">
      <q-btn
      label="Send report"
      class="full-width"
      color="accent"
      />
    </q-card-actions>
  </q-card>
  </q-dialog>
</div>
</template>

<script>
export default {
  name: 'bag-report',
  data () {
    return {
      dialog: false,
      report: ''
    }
  }
}
</script>

<style scoped>

</style>
