<template>
<q-btn
  :label="$t('backRoute')"
  no-caps
  :color="$q.dark.isActive ? 'grey-6' : 'dark'"
  class="q-px-md"
  icon="las la-angle-left"
  outline
  @click="$router.push({ name: routeName })"
/>
</template>

<script>
export default {
  name: 'route-back-button',
  props: {
    routeName: String
  }
}
</script>

<style scoped>

</style>
