<template>
  <div class="offer-detail">
    <!--    Offer fields-->
    <div class="row q-col-gutter-lg">
      <div
        v-for="(key, index) in Object.keys(offer)"
        :key="index"
        class="col-12"
      >
        <q-expansion-item
          :label="$t(`${key}`)"
          default-opened
          header-class="bg-grey-6"
          v-if="visible(key)"
        >
          <div
            v-for="(item, index) in offer[key]"
            :key="`${key}` + index"
          >
            <q-input
              v-model="offer[key][index]"
              outlined
              class="q-mt-md"
            />
          </div>
        </q-expansion-item>

      </div>
      <q-input
        v-model="offer.note"
        type="textarea"
        class="col-12"
        outlined
        :label="$t('note')"
      />
    </div>

    <div class="text-right">
      <q-btn
        :color="offer.translationApproved ? 'positive' : 'negative'"
        no-caps
        class="letter-1 text-bold q-mt-md"
      >
        <q-checkbox
          v-model="offer.translationApproved"
          :label="
            offer.translationApproved
              ? $t('approvedTranslation')
              : $t('approveTranslation')
          "
          :color="offer.translationApproved ? 'positive' : 'negative'"
        />
      </q-btn>
    </div>
    <!--    Actions-->
    <div class="row q-mt-md justify-end edit-actions">
      <div class="col-12 col-md-6 row">
        <div class="col-6 q-pr-xs">
          <q-btn
            :label="$t('cancel')"
            color="negative"
            outline no-wrap
            class="q-px-lg q-py-sm text-bold full-width"
            icon="las la-times"
            @click="cancel"
          />
        </div>
        <div class="col-6 q-pl-xs">
          <q-btn
            :label="$t('save')"
            color="primary"
            class="q-px-lg q-py-sm q-ml-md text-bold full-width"
            icon="las la-save"
            unelevated no-wrap
            @click="offer.update()"
            :loading="loading"
          />
        </div>
      </div>
    </div>

  </div>
</template>

<script>
import { mapActions, mapState } from 'vuex'
import Offer from 'src/classes/Offer'
export default {
  name: 'offer-detail-component',
  computed: {
    ...mapState('offers', { baseOffer: 'offer' }),
    language () {
      return localStorage.getItem('language')
    }
  },
  data () {
    return {
      offer: {},
      loading: false
    }
  },
  methods: {
    ...mapActions('offers', ['loadOffer']),
    cancel () {
      this.offer = new Offer(this.baseOffer)
    },
    visible (key) {
      switch (key) {
        case 'id':
          return false
        case 'localizations':
          return false
        case 'createdLanguage':
          return false
        case 'note':
          return false
        case 'translationApproved':
          return false
      }
      return true
    }
  },
  async created () {
    await this.loadOffer()
    this.offer = new Offer(this.baseOffer)
  }
}
</script>

<style scoped>

</style>
